:root {
	--dark-grey: #4e5150;
	--gray1: #333333;
	--gray2: #4f4f4f;
	--gray3: #828282;
	--gray4: #bdbdbd;
	--gray5: #e0e0e0;
	--gray6: #f2f2f2;
	--orange: #f2994a;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 32px 18px 18px;
	font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: var(--dark-grey);
	min-width: 360px;
}

h1 {
	font-size: 24px;
	line-height: 29px;
	color: var(--dark-grey);
	margin-bottom: 21px;
}

aside {
	background: var(--gray6);
	padding: 31px 27px;
	border-radius: 12px;
}

.product {
	display: flex;
	margin-bottom: 29px;
	img {
		width: 122px;
		height: 122px;
		border-radius: 12px;
		margin-right: 20px;
	}
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.details {
	h3 {
		font-size: 12px;
		line-height: 15px;
		color: var(--dark-grey);
		margin-bottom: 1em;
	}
	.price {
		color: var(--orange);
		span {
			font-size: 10px;
			color: var(--dark-grey);
			text-decoration: line-through;
			margin-left: 1.5em;
		}
	}
}
.quantity {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 122.8px;
	height: 49.86px;
	border: 1px solid #828282;
	border-radius: 12px;
	padding: 15px 11px;
	i {
		font-size: 16px;
	}
	span {
		font-size: 16px;
		color: var(--gray1);
	}
	button {
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--gray5);
		border: none;
		border-radius: 4px;
		cursor: pointer;
		user-select: none;
	}
	.button:hover {
		background: var(--gray3);
		color: var(--gray6);
	}
}
.addition {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 17px;
	color: var(--gray1);
	border-top: 1px solid var(--gray4);
	padding: 10px 0;
}
#shipping {
	margin-top: 88px;
}

form {
	* {
		display: block;
		font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		font-weight: 600;
	}
	fieldset {
		border: none;
		margin-top: 40px;
	}
	legend {
		font-size: 14px;
		color: var(--gray1);
		margin-bottom: 12px;
	}
	label {
		font-size: 10px;
		color: var(--gray2);
		margin-bottom: 5px;
	}
	.placeholder {
		color: red;
	}
	input[type="checkbox"] {
		display: inline;
	}
}
.two-fields {
	display: flex;
	justify-content: stretch;
	gap: 24px;
	label {
		width: 100%;
	}
}
option.placeholder {
	color: var(--gray3);
}
::placeholder {
	color: var(--gray3);
}
.input-wrapper {
	position: relative;
	margin-bottom: 17px;
	input,
	select {
		width: 100%;
		padding: 12px 12px 12px 40px;
		border: 1px solid var(--gray3);
		border-radius: 12px;
		color: var(--gray1);
	}
	i.material-icons {
		position: absolute;
		left: 12px;
		top: 12px;
		color: var(--gray3);
		margin-right: 12px;
		font-size: 18px;
	}
}
input[type="submit"] {
	background-color: var(--orange);
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 12px;
	width: 166px;
	height: 54px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #ee7f1d;
}
.submit-line {
	display: flex;
	justify-content: flex-end;
}

footer {
	margin-top: 126px;
	text-align: center;
	color: #a9a9a9;
	font-weight: 600;
	font-size: 14px;
}
